* {
  box-sizing: border-box;
}

#app-version {
  font-size: 0px;
}

#otpauth-qr {
  position: relative;
  width: 256px;
  height: 256px;
  margin-top: 20px;
  margin-right: auto;
  margin-left: auto;
  cursor: pointer;
  border: 1px solid #e3e3e3;
  border-radius: 4px;
  background: #fff;
}

#otpauth-qr-image {
  width: 100%;
  height: 100%;
}

#otpauth-qr-overlay {
  font-size: 16px;
  position: absolute;
  top: 42%;
  right: 0;
  left: 0;
  width: 64%;
  margin: 0 auto;
  padding: 4px;
  text-align: center;
  color: #f5f5f5;
  border-radius: 20px;
  background-color: #5892ee;
}

#totp-label {
  font-size: 16px;
  font-weight: 600;
  line-height: 16px;
  margin-bottom: 8px;
  cursor: pointer;
  color: #777777;
  height: 1em;
  transition: 0.2s;
}

#totp-token {
  font-size: 24px;
  font-weight: 500;
  height: 34px;
  cursor: pointer;
}

#totp-token-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 18px;
}

#totp-token-remaining-seconds-pie {
  display: block;
  width: 22px;
  height: 22px;
  margin-left: auto;
  transform: rotate(-90deg);
  border-radius: 50%;
}

#totp-token-remaining-seconds-pie > circle {
  transition: stroke-dashoffset 1s linear;
  stroke: #5892ee;
  stroke-width: 100%;
  stroke-dasharray: 1;
  stroke-dashoffset: -1;
  fill: none;
}
